body{
    margin: 0;
    background-image: url("/img/bck.jpg");
    /*background-size: 1250px;*/ 
    background-size: 1300px;

}

h1 {
    color: rgb(245, 3, 172);
    font-size: 100px;   
    width: 700px; 
    margin-left: auto;
    margin-right: auto; 
    

}

.main-game{
    height: 100vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto; 
}

.genius {
    display: grid;
    grid-template-areas: 'verde vermelho'
    'amarelo azul';
    grid-gap: 10px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 100%;
    width: 650px;
    height: 650px;
}

.blue {
    grid-area: azul;
    background-color: rgb(2, 2, 99);
    border-bottom-right-radius: 100%;

}
.red{
    grid-area: vermelho;
    background-color: red;
    border-top-right-radius: 100%;
}

.green{
    grid-area: verde;
    background-color:green;
    border-top-left-radius: 100%;
}

.yellow{
    grid-area: amarelo;
    background-color:yellow;
    border-bottom-left-radius: 100%;
}


/* essas cores tão bem feias*/ 

.selected {
    opacity: 0.7;
}